################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DropBoxExplorer/v14
/packages
/Bin
/DropBoxExplorer/obj/Debug
/DropBoxTest/obj/Debug
*.nupkg
